[Unit]
Description=Taxi ROS package
Requires=roscore.service
After=roscore.service

[Service]
EnvironmentFile=/lib/systemd/system/roscore.env
ExecStart=/usr/bin/python /home/pi/clever/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

