html {
    background-image: radial-gradient(circle, #808080, #898989, #929292, #9b9b9b, #a4a4a4, #a6a6a6, #a8a8a8, #aaaaaa, #a5a5a5, #a1a1a1, #9c9c9c, #989898);
    overflow: hidden;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

body, html, .holder, .container, .elcontento, .full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.navbar {
    width: 100%;
    height: auto;
    background-color: #2b2b2b;
    color: #e8e8e8;
    font-size: 27px;
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-group {
    position: absolute;
    height: auto;
    top: 0;
    right: 20px;
}

.img-group img {
    margin-left: 10px;
    cursor: pointer;
    height: 60px;
}

.container {
    display: flex;
    flex-direction: column;
}

.holder {
    display: flex;
    flex-direction: row;
}

.left-field {
    width: 100%;
    margin: 30px 15px 30px 30px;

}

.road-settings {
    min-width: 580px;
    max-width: 580px;
    margin: 0 15px 30px 15px;
    display: flex;
    flex-direction: row;
    min-height: 200px;
    max-height: 200px;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.levo {
    margin: 0px 10px 20px 20px;
}

.pravo {
    margin: 0px 20px 20px 10px;
}

.levo div:hover {
    background-color: #55942f;
}

.pravo div:hover {
    color: #e4e4e4;
    background-color: #94322e;
}

.road-settings-bgroup {
    width: calc(50% - 30px);
    height: calc(100% - 40px);
    border-radius: 10px;
    transition: .3s;
}

.road-settings-bgroup div {
    cursor: pointer;
    width: 100%;
    height: calc(50% - 30px);
    color: #3b3b3b;
    font-size: 20px;
    background-color: #bdbdbd;
    border-radius: 10px;
    transition: .3s;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.right-field {
    min-width: 550px;
    max-width: 550px;
    margin: 30px 30px 30px 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.left-field, .right-field {
    height: calc(100% - 90px);
    border-radius: 20px;
    background-color: #f9f9f9;
    padding: 15px
}

.right-field {
    height: 100%;
}

.drone-img {
    width: 100px;
    height: 100px;
}

.drone-el {
    width: 100%;
    min-height: 140px;
    max-height: 140px;
    background-color: #e5e5e5;
    transition: .3s;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.drone-el:hover {
    background-color: #e1e1e1;
}

@media screen and (max-width: 900px) {
    .holder {
        flex-direction: column;
    }
}

.colorel {
    border-radius: 0 10px 10px 0;
    width: 20px;
    height: 100%;
}

.c {
    border-radius: 10px;
}

.elbutto {
    width: 100px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 3px;
}

.elbut {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    padding-top: 20%;
    padding-bottom: 0;
    vertical-align: middle;
    border-radius: 10px;
    width: 60px;
    height: 100%;
    color: #f8f8f8;
    background-color: #bababa;
    transition: .3s;
}

.elcontento {
    display: flex;
    flex-direction: row;
}

.elbut:hover {
    cursor: pointer;
    background-color: #9e9e9e;
}

.full {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.full strong {
    margin: 5px;
    margin-left: 0px;
}

.delet {
    height: 26px;
    padding: 5px;
    border-radius: 0 10px 0 10px;
    background-color: #f22234;
}

.voltage {
    display: flex;
    margin-top: 8px;
    margin-left: -2px;
}

.ip {
    position: relative;
    left: -4px;
    top: 15px;
}