html {
    background-image: radial-gradient(circle, #808080, #898989, #929292, #9b9b9b, #a4a4a4, #a6a6a6, #a8a8a8, #aaaaaa, #a5a5a5, #a1a1a1, #9c9c9c, #989898);
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

body, html, .mcontainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-css {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* remove default arrow */
    background: none;
}


body {
    padding: 3rem;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    background-color: #FFFFFF;
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
}

.next_butt {
    color: #f4f4f4;
    background-color: #55942f;
    height: calc(20% - 150px);
    font-size: 40px;
    cursor: pointer;
}

.el {
    width: calc(100% - 80px);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #f8f8f8;
    background-color: #b2b2b2;
}

.list {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
}